.Episode-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Episode-wrapper>h3 {
    margin: 0;
}

#video {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    #video {
        width: 100%;
    }
}

.Episode-wrapper>div.fullRow {
    display: flex;
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
    justify-self: flex-start;
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: #333;
    opacity: .7;
}

.Episode-wrapper>div.bottomRow {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Episode-wrapper>div.bottomRow>div.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}