.SeasonHead {
    background-color: #333;
    border: solid 1px #333;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.SeasonHead:hover {
    opacity: .7;
    border: 1px solid #fff;;
}

.Episodes {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.Episodes-active {
    display: flex;
    flex-direction: column;
    padding: 20px;
}