header {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
}

header small {
    color: rgb(85, 85, 85);
    font-size: 10px;
}

header>.credits {
    margin-right: 10px;
}

header>.credits a {
    text-decoration: none;
}